
<h1> {{title}}</h1>
<h4> Members </h4>
<form action="/api/members" method ="POST" class="mb-4">
   <div class = "form-group">
      <label for = "name">Name </label>
      <input type ="text"name ="name" class ="form-control">
   </div>  

   <div class = "form-group">
     <label for = "email">email </label>
     <input type ="email"name ="email" class ="form-control">
   </div>  

  <input type ="submit" value =" add member " class =" btn btn-primary btn-block">
 </form>
<ul>
{{#each members}}
<li >{{this.name}}:{{this.email}}
    </li>
{{/each}}

    </ul>
<a href= "api/members"> visitApi </a>